#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-e .mbr-article P {
  text-align: center;
}
#dropdown-menu-5 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5 .nav .link,
#dropdown-menu-5 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-5 .navbar,
#dropdown-menu-5 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-5 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5 .dropdown-menu a:hover,
#dropdown-menu-5 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-5 .navbar-toggler {
  color: #ffffff;
}
#msg-box4-m .mbr-header__text {
  color: #ffffff;
}
#msg-box4-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-m .mbr-article {
  color: #ffffff;
}
#msg-box3-o .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 25px;
}
#msg-box3-o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-o .mbr-article P {
  text-align: center;
}
#features1-q P {
  text-align: center;
}
#content5-r .mbr-header .mbr-header__text {
  text-align: center;
  color: #333333;
}
#content5-r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-article {
  color: #fff;
}
#content5-r .mbr-article P {
  text-align: center;
  color: #000000;
}
#dropdown-menu-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-h .nav .link,
#dropdown-menu-h .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-h .navbar,
#dropdown-menu-h .dropdown-menu {
  background: #333333;
}
#dropdown-menu-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-h .dropdown-menu a:hover,
#dropdown-menu-h .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-h .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-z .nav .link,
#dropdown-menu-z .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-z .navbar,
#dropdown-menu-z .dropdown-menu {
  background: #333333;
}
#dropdown-menu-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-z .dropdown-menu a:hover,
#dropdown-menu-z .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-z .navbar-toggler {
  color: #ffffff;
}
#header4-13 B {
  font-size: 30px;
  color: #ffffff;
}
#header4-13 P {
  text-align: left;
}
#msg-box4-17 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-17 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-17 .mbr-article {
  color: #ffffff;
  text-align: left;
}
#dropdown-menu-14 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-14 .nav .link,
#dropdown-menu-14 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-14 .navbar,
#dropdown-menu-14 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-14 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-14 .dropdown-menu a:hover,
#dropdown-menu-14 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-14 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-19 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-19 .nav .link,
#dropdown-menu-19 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-19 .navbar,
#dropdown-menu-19 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-19 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-19 .dropdown-menu a:hover,
#dropdown-menu-19 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-19 .navbar-toggler {
  color: #ffffff;
}
